<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/cocoding/dist/css/bootstrap.min.css">
  <title>COCODING | 함께, 코딩해요</title>
</head>
<body>
  {% include 'cocoding/navbar.html' %}
  {% block content %}
  {% endblock %}
  {% include 'cocoding/footer.html' %}
</body>
<script src="https://kit.fontawesome.com/edc45c71bc.js" crossorigin="anonymous"></script>
<script src="/static/cocoding/dist/js/jquery-3.6.0.min.js"></script>
<script src="/static/cocoding/dist/css/bootstrap.min.css"></script>
<script src="/static/cocoding/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</html>
