<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"><span class="text-primary fw-bolder fs-1">CO</span><span class="fw-bolder fs-1">CODING</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cocoding:post_create' %}">글쓰기</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account:logout' %}">로그아웃</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account:signup' %}">회원가입</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account:signin' %}">로그인</a>
          <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="text-center">
                    <div class="form-signin container">
                      <form method="post" class="post-form" action="{% url 'account:signin' %}">
                        {% csrf_token %}
                        <div class="form-floating">
                          <input type="email" class="form-control mb-3" name="email" id="email" placeholder="name@example.com"
                          value="{{ form.email.value|default_if_none:'' }}">
                          <label for="email" >이메일</label>
                        </div>
                        <div class="form-floating">
                          <input type="password" class="form-control mb-3" name="password" id="password" placeholder="Password"
                            value="{{ form.password.value|default_if_none:'' }}">
                          <label for="password">비밀번호</label>
                        </div>
                        <div class="d-grid gap-3">
                          <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>