{% extends 'cocoding/base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/cocoding/dist/css/tagsinput.css" />

<div class="container my-3 w-75">
    <h5 class="my-3 border-bottom pb-2 fw-bolder">게시글 작성</h5>
    <form method="post" class="post-form" action="{% url 'cocoding:post_create' %}">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="title">제목</label>
            <input required="required" type="text" class="form-control" placeholder="제목을 입력해주세요" name="title"
                id="title" value="{{ form.title.value|default_if_none:'' }}">
            <span style="color:red">{{ form.title.errors }}</span>
        </div>

        <div class="form-group mb-3">
            <label>태그</label>
            <input type="text" data-role="tagsinput" class="form-control" name="tags" id="tags" value="{{ form.tags.value|default_if_none:'' }}">
            <span style="color:red">{{ form.tags.errors }}</span>
        </div>

        <div class="form-group mb-3">
            <label>내용</label>
            {{form.content}}
            <span style="color:red">{{ form.content.errors }}</span>
        </div>

        <button class="btn btn-primary" type="submit">작성완료</button>

    </form>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/static/cocoding/dist/js/tagsinput.js"></script>
<script>
$("#post-form").submit(function(e){
        e.preventDefault();
        });
</script>
{% endblock %}